/*Default Vite + React CSS
---------------------------------------------------------------------*/


/* Homepage styles
---------------------------------------------------------------------*/

*, html, body {
    box-sizing: border-box;
    font-size: 1.6rem;
    margin: 0;
}
body {
  width: 100vw;
  max-width: none;
  margin: 0;
}

body, html {
    font-size: 62.5%; /* 1rem = 10px */
}

section#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url('/images/top_matriculant.jpg') center/cover no-repeat;
  position: relative;
  background-repeat: no-repeat;
}

section#home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(34, 36, 37, 0.5); /* Adjust color and opacity as needed */
  z-index: 1;
}

section#home > * {
  position: relative;
  z-index: 2;
}

/* Top Banner 
----------------------------------------------------------------------*/
.main-banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.avatar-container {
  width: 140px;
  height: 175px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 7rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.navbar ul {
  list-style:none;
  padding: 0;
  display: flex;
  margin: 0;
}

.navbar li {
  margin-right: 2rem;
}

