/*Default Vite + React CSS
---------------------------------------------------------------------*/

/* Homepage styles
---------------------------------------------------------------------*/

*,
html,
body {
  box-sizing: border-box;
  font-size: 1.6rem;
  margin: 0;
}
body {
  width: 100vw;
  max-width: none;
  margin: 0;
}

body,
html {
  font-size: 62.5%; /* 1rem = 10px */
}


