/* Top Banner 
----------------------------------------------------------------------*/
section#home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: url("/images/top_matriculant.jpg") center/cover no-repeat;
  position: relative;
  background-repeat: no-repeat;
}

section#home::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.7); /* Adjust color and opacity as needed */
  z-index: 1;
}

section#home > * {
  position: relative;
  z-index: 2;
}

.main-banner-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10rem;
}

.avatar-container {
  width: 140px;
  height: 175px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 7rem;
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  font-size: 2rem;
  margin-top: 2rem;
  margin-bottom: 3rem;
}

.navbar ul {
  list-style: none;
  padding: 0;
  display: flex;
  margin: 0;
}

.navbar li {
  margin-right: 6rem;
  background-color: black;
  padding: 0.5rem 1rem;
  border-radius: 2rem;
}

.main-about {
  width: 50%;
  text-align: center;
}